---
layout: page
title: Help the Reproducible Builds effort!
order: -1
permalink: /donate/
---

<div class="row">
  <div class="four columns title">
    <h2>&nbsp;</h2>
  </div>
  <div class="eight columns">
    <p>
      <em><big>The Reproducible Builds effort needs your help to continue its work
      towards ensuring the security of computer systems of all shapes and sizes
      around the world.</big></em>
    </p>
    <p>
      The Reproducible Builds Project is affiliated with
      <a href="https://sfconservancy.org/about/">Software Freedom Conservancy</a>,
      which holds our assets and deal with financial matters such as donations.
    </p>
  </div>
</div>

<div class="row">
  <div class="four columns title">
    <h2>Paypal</h2>
  </div>
  <div class="eight columns">
    <p>
    <p>
      The easiest way to donate to the project is through
      <a href="https://www.paypal.com">PayPal</a>; use this button to donate to
      us:
      <center>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="9QA63APRU4TNE">
          <input type="image" src="{{ "/images/paypal_donate.gif" | prepend: site.baseurl }}" border="0" name="submit" alt="Donate to Reproducible Builds via PayPal">
        </form>
      </center>
    </p>
  </div>
</div>

<div class="row">
  <div class="four columns title">
    <h2>Other methods</h2>
  </div>
  <div class="eight columns">
    <p>
      We can accept check donations drawn in USD from banks in the USA.
      Donations from banks outside of the US or not in USD should be handled by
      wire transfer.
    </p>

    <p>
      Please make your check payable to "Software Freedom Conservancy, Inc."
      and to place "Directed donation: Reproducible Builds" in the memo field.
      Checks should then be mailed to:
    </p>

    <blockquote>
    <address>
      Software Freedom Conservancy, Inc.<br>
      137 Montague ST STE 380<br>
      BROOKLYN, NY 11201<br>
      USA
    </address>
    </blockquote>

    <p>
      Conservancy also accepts <a href="https://sfconservancy.org/donate/">other
      methods to receive donations</a>, including US cheques and wire transfers.
      If you are interested please get in touch with us!
    </p>
  </div>
</div>

<br>

<div class="row">
  <div class="four columns title">
    <h2>Contact</h2>
  </div>
  <div class="eight columns">
    <p>
      Please do not hesitate to contact us
      (<tt>info@reproducible-builds.org</tt>) if you would like any
      more information. Thank you for your consideration and we thank you in
      advance for your support.
    </p>
  </div>
</div>
